* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #007bff;
    --secondary: #6c757d;
    --dark: #343a40;
    --darker: #11111c;
    --light: #f4f4f4;
    --hl: #dc3545;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Variable.ttf') format('truetype');
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--darker);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
}

#top {
    height: 7%;
    width: 100%;
    display: flex;
    position: fixed;
    background: linear-gradient(var(--darker), #FFFFFF00);
}

#banner b {
    color: var(--primary);
    font-weight: 100;
}

#banner {
    display: flex;
    flex-grow: 1;
    padding: 2rem;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
}

#banner a {
    text-decoration: none;
    color: inherit;
}

#menu {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#menu a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    cursor: pointer;
    position: relative;
}

#menu a i, #menu a b {
    font-weight: normal;
    font-style: normal;
    transition: color 250ms ease, opacity 250ms ease;
}

#menu a b {
    opacity: 0;
}

#menu a:hover i {
    color: var(--primary);
}

#menu a:hover b {
    opacity: 1;
}

.menuUnderline {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: solid 1px var(--primary);
    transform: scaleX(0);
    transform-origin: 0;
    transition: transform 250ms ease;
}

#menu a:hover .menuUnderline {
    transform: scaleX(1);
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textSection {
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3rem;
    margin: 5rem 0;
    gap: 2rem;
}

#start, #contact{
    border-left: 1px solid var(--primary);
}

#start {
    font-size: 2rem;
    text-align: left;
    margin-top: 20rem;
}

#start p {
    width: 100%;
}

#start p i {
    color: var(--primary);
    font-style: normal;
}

.textSection h2 {
    width: 100%;
    text-align: left;
    padding: 0 2rem;
}

.textSection b {
    color: var(--primary);
    font-weight: normal;
}

#about,
#projects {
    height: 600px;
    width: 100%;
    border: 1px solid var(--hl);
}

footer {
    width: 100%;
    height: auto;
    padding: .5rem;
    font-size: .7rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*Contact form*/

#contact form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#contact form input, #contact form textarea {
    width: 20%;
    padding: .5rem;
    margin: 1rem 0;
    border: 1px solid  var(--primary);
    outline: none;
    background: none;
    color: white;
    resize: none;
}